[submodule "externals/CedarAsync"]
	path = externals/CedarAsync
	url = git@github.com:cppforlife/CedarAsync.git
[submodule "externals/CedarShortcuts"]
	path = externals/CedarShortcuts
	url = git@github.com:cppforlife/CedarShortcuts.git
[submodule "externals/cedar"]
	path = externals/cedar
	url = git@github.com:pivotal/cedar.git
[submodule "externals/blindside"]
	path = externals/blindside
	url = git@github.com:jbsf/blindside.git
